/* global properties */
*
{
	font-family: Verdana, sans-serif;
}

/*****************************************************************************/
/* sections */
/*****************************************************************************/

/* header bar */
header
{
	/* text */
	color: white;
	font-size: 64px;
	text-align: center;
	padding: 64px 64px 64px 64px;
	text-shadow: 4px 4px #202020;
	
	/* image */
	background-color: black;
	background-image: url("images/blue_plaid.png");
	background-repeat: repeat;
}

/* footer bar */
footer
{
	background-color: white;
	color: black;
	font-size: 16px;
	text-align: center;
}

/* body */
body
{
	color: black;
	background-color: white;
	font-size: 16px;
	text-alight: left;
}

/*****************************************************************************/
/* standard */
/*****************************************************************************/

/* unvisited link */
.std a:link
{
	color: #22415b;
	text-decoration: none;
}

/* visited link */
.std a:visited
{
	color: #142737;
	text-decoration: none;
}

/* mouse over link */
.std a:hover
{
	color: #1b3934;
	text-decoration: underline;
}

/* selected link */
.std a:active
{
	color: #225b41;
	text-decoration: underline;
}

/*****************************************************************************/
/* navigation bar */
/*****************************************************************************/

/* navigation bar container */
.navbar
{
	background-color: #202020;
	overflow: hidden;
}

/* navigation bar links */
.navbar a:link, a:visited
{
	background-color: #202020;
	border: none;
	color: white;
	float: left;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
}

/* mouse over links */
.navbar a:hover, a:active
{
	background-color: #404040;
}
